<script type="text/javascript">
	$(document).ready(function() {
		$('.beerme').click(function() {
			console.log($(this).data("link"));
			window.location = $(this).data("link");
			return false;
		});
	});
</script>

<div id="wrapper"><!-- #wrapper -->
	<nav><!-- top nav -->
		<div class="menu">
			<ul>
			  <li><a href="mailto:beerfortextbooks@gmail.com">Contact</a></li>
			  <li>|</li>
				<li><a href="/">Home</a></li>
			</ul>
		</div>
	</nav><!-- end of top nav -->
    
  <header><!-- header -->
		<a href="/"><img id="logo" src="images/logo.png" alt=""></a><!-- header image -->
	</header><!-- end of header -->
	
	<section id="main"><!-- #main content and sidebar area -->
	  <p><%= flash[:notice ]%></p>
	
	  <div id="results_content" class="clearfix">
		<div><%= image_tag @book["page"]["image"] %></div>
		<div>
			<p><%= @book["page"]["title"] %></p>
			<p><%= @book["page"]["author"]%></p>
			<p>ISBN10: <%= @book["page"]["isbn10"]%></p>
			<p>ISBN13: <%= @book["page"]["isbn13"]%></p>
		</div>
	</div>
	
	  <% @merchants.each do |m| %>
	    <div id="results_content" class="clearfix">
    	  <div class="bookimage">
    	    <%= image_tag m["merchant_image"] %>
    	  </div>
		  <div class="prices_low">
			<%= m["prices"]["price"][0] %>
		  </div>
    	  <div class="beer_prices">
			<span><%= image_tag "/images/keg.png", {:height => 40} %><%= "  " +  @prices[m["merchant_id"]]["kegs"].to_s %></span>
			<span><%= image_tag "/images/caseofbeer.png", {:height => 40} %><%= "  " +  @prices[m["merchant_id"]]["cases"].to_s %></span>
			<span><%= image_tag "/images/beerbottle_small.png", {:height => 40} %><%= "  " +  @prices[m["merchant_id"]]["bottles"].to_s%></span>
    		</div>
    	  <div class="beerlink2">
			<button type="button" class="beerme" data-link="<%= m["link"] %>">Sell Textbook for Beer</button>
			
    	  </div>
  	  </div>
	  <% end %>
	  
</section><!-- end of #main content and sidebar-->

  <footer>
		  <section id="footer-area">
  			<p align="center">&copy; 2011 <a href="#">beerfortextbooks.com</a></p>
  		</section><!-- end of footer-area -->
	</footer>
</div>
<!-- #wrapper -->