<!DOCTYPE html>
<html>
<head>
  <title>Beer for Textbooks</title>
	<meta name="description" content ="Want to trade your college textbooks for beer? Trade your textbooks for beer at BeerForTextbooks.com. Walk into your liquor store, leave your books, and get your beer. It's that easy.">
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22326278-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<script type="text/javascript">var switchTo5x=true;</script><script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script><script type="text/javascript">stLight.options({publisher:'a12930a3-78e9-4a47-935d-7cc93ee1e4c4', tracking:'google', onhover:'true'});</script>
</head>
<body>
	<div id="wrapper"><!-- #wrapper -->    
	  <header><!-- header -->
			<h1><%= link_to "Beer For Textbooks", root_path  %></h1>
		</header><!-- end of header -->


<%= yield %>


<h4><%= link_to "Want to trade your books for beer at your liquor store?", "mailto:beerfortextbooks@gmail.com" %></h4>

</div><!-- #wrapper -->

	<footer>
	  
	  <nav>
	<span class='st_sharethis_hcount' displayText='ShareThis'></span><span class='st_email_hcount' displayText='Email'></span><span class='st_twitter_hcount' displayText='Tweet'></span><span class='st_facebook_hcount' displayText='Facebook'></span>
	<!-- top nav -->
		<!-- <a id="twitter" href="http://twitter.com/share" class="twitter-share-button" data-text="Sell your textbooks for beer at BeerForTextbooks.com" data-url="http://www.beerfortextbooks.com" data-count="none" data-via="beer4textbooks">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
		<iframe id="facebook" src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.beerfortextbooks.com&amp;layout=button_count&amp;show_faces=true&amp;width=150&amp;action=like&amp;font=arial&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:150px; height:21px;" allowTransparency="true"></iframe>-->
		<div class="menu">
			
			
			<ul class="clearfix">
			  <li><a href="/about">About Us</a></li>
			  <li>|</li>
			  <li><a href="mailto:beerfortextbooks@gmail.com">Contact</a></li>
			  <li>|</li>
				<li><a href="/">Home</a></li>
			</ul>
		</div>
	</nav><!-- end of top nav -->
	  
	<section id="footer-area">
		<p align="center">&copy; 2011 <a href="#">beerfortextbooks.com</a></p>
	</section><!-- end of footer-area -->
</footer>

</body>
</html>
