<!doctype html>
<html lang="en">
<head>
		<meta charset="utf-8" />
		<meta name="description" content ="Want to trade your college textbooks for beer? Trade your textbooks for beer at BeerForTextbooks.com. Walk into your liquor store, leave your books, and get your beer. It's that easy.">
		
		<title>Beer For Textbooks: Trade your textbooks for beer, today!</title>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<!-- Adding "maximum-scale=1" fixes the Mobile Safari auto-zoom bug: http://filamentgroup.com/examples/iosScaleBug/ -->
		
		<link  href="http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold" rel="stylesheet" type="text/css" >

		<%= stylesheet_link_tag [ "styles", "skins/tango/skin", "skins/ie7/skin", "sexybuttons" ] %>

		<%= javascript_include_tag [ "jquery.min", "jquery.jcarousel.min", "application" ] %>

<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

<style type="text/css"> 
 
/**
 * Overwrite for having a carousel with dynamic width.
 */
.jcarousel-skin-tango .jcarousel-container-horizontal {
    width: 85%;
}
 
.jcarousel-skin-tango .jcarousel-clip-horizontal {
    width: 100%;
	height: 220px;
}
 
</style>

<%= csrf_meta_tag %>
		 
</head>
<body>
	<!-- top nav -->
	<div id="main_container">
    <div id="header">
  
		
		<div align="right" id="account">
        <span><%= link_to "Sign In", "/myaccount" %></span> 
		<span class="gray">|</span> 
		<span> 
			<%= link_to "Beer Cart", "/cart" %></span> 
            </div>	
			<div id="logo" align="center"> <%= link_to image_tag('b4txtlogo.png'), "/" %> </div>
		</div> 
	

     
    
	<div id="content_container" class="clearfix">
	<%= # this is a layout file
		# example: when the index page is loaded, the contents of index.html.erb
		# are loaded here. everything else in this layout is global.
		
		# views are html files mixed with Ruby code
		# views are located in app/views/...
		yield 
	%>
	</div>


<div id="footer">
        	<div class="column1">
            	<p>
            	<ul type="none"> 
					<li>About</li> 
					<li><%= link_to "About", "/about" %></li> 
					<li><%= link_to "Why Us?", "/why" %></li> 
					<li><%= link_to "Blog", "/blog" %></li> 
				</ul>
				</p>
            </div><!-- end #column1 -->
		
            <div class="column2">
            	<p>
            	<ul type="none"> 
					<li>Follow Us</li> 
					<li><%= link_to "Facebook", "http://www.facebook.com/BeerforTextbooks" %></li> 
					<li><%= link_to "Twitter", "http://twitter.com/beer4textbooks" %></li> 
				</ul> 
				</p>
            </div><!-- end #column2 -->
            <div class="column3">
            	<p>
            	<ul type="none"> 
					<li>Questions?</li> 
					<li><%= link_to "FAQ", "/faq" %></li> 
					<li><%= link_to "Customer Service", "/customers" %></li> 
				</ul>
				</p>
            </div><!-- end #column3 -->
            <div class="column4">
            	<p>
            	<ul type="none"> 
					<li>Company</li> 
					<li><%= link_to "Our Start", "/history" %></li> 
					<li><%= link_to "Press", "/press" %></li> 
					<li><%= link_to "Feedback", "/contact" %></li>
					<li><%= link_to "Careers", "/careers" %></li>
				</ul>
				</p>
            </div><!-- end #column4 -->
 </div>			

<div id="cright">   
  
				<div class="footer-copyright"> 
		Copyright &#169; 2011 <a href="#" title="Beerfortextbooks.com">BeerForTextbooks.com</a> | <a href="#" title="termsandconditions">Terms and Conditions of Use</a>  | <a href="#" title="PrivacyPolicy">Security and Privacy Policy</a>  | <a href="#" title="SitMap">Site Map</a> 

	</div>
	</footer>

</div><!-- #wrapper -->
</body>
</html>
